### Datasets:

Here's one dataset for food prices https://www.kaggle.com/jboysen/global-food-prices

Here is the dataset for temperature and rainfalls http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical

### Hypothesis: 

Do changes in average temperature and average level of rainfall affect the change in the average price on X crop in X country in X-X years

### Questions to the Professor:

1. How can we all access and work simultaneously in the shared Github repo (with 1 master and 3 collaborators)?

# Cleaning the data
coding issues- utf-8 didn't work, use iso-8859-1 instead
## Price Dataset

In [27]:
import pandas as pd

CsvFile='https://raw.githubusercontent.com/vzakhozhyi/599-A-Final-Project/master/Data/wfp_market_food_prices.csv'
##
dataCsv=pd.read_csv(CsvFile,header=0, encoding = "ISO-8859-1")

KeyboardInterrupt:

In [ ]:
dataCsv.info()

In [3]:
dataCsv.adm0_name.unique()

array(['Afghanistan', 'Algeria', 'Armenia', 'Azerbaijan', 'Bangladesh',
       'Benin', 'Bhutan', 'Bolivia', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde', 'Central African Republic',
       'Chad', 'Colombia', 'Congo', 'Costa Rica', "Cote d'Ivoire",
       'Democratic Republic of the Congo', 'Djibouti', 'El Salvador',
       'Ethiopia', 'Gambia', 'Georgia', 'Ghana', 'Guatemala',
       'Guinea-Bissau', 'Guinea', 'Haiti', 'Honduras', 'India',
       'Indonesia', 'Iran  (Islamic Republic of)', 'Iraq', 'Jordan',
       'Kenya', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Lebanon', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mozambique', 'Myanmar', 'Nepal', 'Niger', 'Nigeria',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Rwanda', 'Senegal',
       'Somalia', 'Sri Lanka', 'Swaziland', 'Syrian Arab Republic',
       'Tajikistan', 'Timor-Leste', 'Turkey', 'Uganda', 'Ukraine',
       'United Republic of Tanzania', 'Yemen', 'Zambia', 'Zimbabwe',
       'State of Palestine', 'Sudan', 'Egypt', 'South Sudan'],
      dtype=object)

In [29]:
#CountryWeWant = ['Cambodia', "Lao People's Democratic Republic", 'Myanmar']

In [4]:
TargetCountry = ['Bolivia', "Peru", 'Colombia']
TargetCrop = ["Potatoes","Potatoes (Dutch)"]

Let's see what we have.

In [19]:
#dataCsv.head

In [18]:
#dataCsv.tail

#pd.unique(demodexClean.Category).tolist()

In [33]:
#price = dataCsv[adm0_name == 'Afghanistan']

In [54]:
#dataCsv.query(adm0_name)

In [6]:
Price = dataCsv[dataCsv.adm0_name.isin(TargetCountry)]

In [ ]:
Price[Price.cm_name.isin(TargetCrop)]

See unique values of crops of each country.

In [7]:
Price[(Price.adm0_name=='Bolivia')].cm_name.unique()

array(['Eggs', 'Sugar', 'Meat (beef, chops with bones)',
       'Meat (chicken, whole)', 'Noodles (short)', 'Potatoes (Dutch)',
       'Potatoes (Irish, imilla)', 'Rice (estaquilla)',
       'Rice (long grain)', 'Bread (wheat)', 'Rice (good quality)',
       'Rice (white)', 'Rice (carolina 2da)', 'Rice (medium grain)',
       'Potatoes (black)'], dtype=object)

In [8]:
Price[(Price.adm0_name== "Peru")].cm_name.unique()

array(['Maize (local)', 'Rice (local)', 'Potatoes', 'Meat (chicken)',
       'Oil (vegetable)', 'Sugar', 'Wheat flour (locally processed)'],
      dtype=object)

In [9]:
Price[(Price.adm0_name== 'Colombia')].cm_name.unique()

array(['Wheat flour', 'Maize (white)', 'Maize flour', 'Beans (red)',
       'Potatoes', 'Meat (chicken)', 'Oil (vegetable)', 'Sugar', 'Garlic',
       'Onions (red)', 'Onions (white)', 'Pasta', 'Tomatoes',
       'Rice (white)', 'Maize (yellow)', 'Meat (beef)', 'Plantains',
       'Cocoa', 'Coffee', 'Carrots', 'Fish (dry)', 'Cabbage', 'Salt',
       'Rice (paddy)', 'Chickpeas (imported)', 'Eggs (white, AA)',
       'Meat (beef, minced)', 'Peas (green, dry)', 'Potatoes (unica)',
       'Sugar (brown)', 'Sugar (brown, loaf)', 'Apples (red)',
       'Cauliflower', 'Cucumbers (greenhouse)', 'Oranges (big size)',
       'Bananas', 'Beans (red, fresh)', 'Fuel (diesel)',
       'Fuel (petrol-gasoline)', 'Cassava (dry)', 'Spinach',
       'Fish (tilapia)', 'Beans (string)', 'Guava', 'Papaya',
       'Blackberry', 'Broccoli', 'Mangoes', 'Pumpkin',
       'Tamarillos/tree tomatoes', 'Cheese', 'Lentils (imported)',
       'Milk (pasteurized)',
       'Wage (non-qualified labour, non-agricultural)', 'Meat (pork)',
       'Coffee (instant)', 'Oil (sunflower)'], dtype=object)

In [10]:
# This is what we want get rid of:
ByeColumns = ['adm0_id', 'adm1_id','mkt_id','cm_id','cur_id','pt_id','um_id']#,'mp_commoditysource']

#this would change the original: GhanaYamPrice.drop(byeColumns,axis=1,inplace=False)
Price=Price.drop(ByeColumns,axis=1, inplace=False).reset_index(drop=True)

Saving files to R:

In [12]:
Price.to_csv("Price.csv",index=None)

## Temperature Data

In [8]:
#TempFileBolivia='http://sdwebx.worldbank.org/climateportal/DownloadData/tas_1991_2015.xls'
#TempFileColumbia
#TempFilePeru=

#for i in TargetCountry: TempFile i 

#dataCombodia=pd.read_excel(TempFileCombodia,header=0)

In [24]:
Temps = ["Temp" + "_" +str(country)  for country in TargetCountry]
Rainfalls = ["Rainfall" + "_" +str(country)  for country in TargetCountry ]
LinkTemps = ["https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/"+str(country)+".xls?raw=true" for country in Temps]
LinkRainfalls = ["https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/"+str(country)+".xls?raw=true" for country in Rainfalls]

In [25]:
Temps, Rainfalls, LinkTemps, LinkRainfalls

(['Temp_Bolivia', 'Temp_Peru', 'Temp_Colombia'],
 ['Rainfall_Bolivia', 'Rainfall_Peru', 'Rainfall_Colombia'],
 ['https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Temp_Bolivia.xls?raw=true',
  'https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Temp_Peru.xls?raw=true',
  'https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Temp_Colombia.xls?raw=true'],
 ['https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Rainfall_Bolivia.xls?raw=true',
  'https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Rainfall_Peru.xls?raw=true',
  'https://github.com/vzakhozhyi/599-A-Final-Project/blob/master/Data/Rainfall_Colombia.xls?raw=true'])

In [43]:
#zip(Temps, LinkTemps)

#corrupt=pd.read_csv(corr,encoding='Latin-1')

#for T, L in zip(Temps, LinkTemps):
    # T = pd.read_excel(L)
frames = []
for filename in os.listdir(path):
    if not filename.endswith('csv'): 
        continue
    logging.debug(filename)
    df = pd.read_csv(os.path.join(path, filename), index_col = 'Year')
    frames.append(df)

In [83]:
TempData = []
RainfallData = []

n = 0
k = 0

for i in LinkTemps:
    df1 = pd.read_excel(i)
    TempData.append(df1)

for j in LinkRainfalls:
    df2 = pd.read_excel(j)
    RainfallData.append(df2)

         tas  \tYear   Month  Country   ISO3   ISO2
0    23.3426    1991       1      BOL    NaN    NaN
1    23.1225    1991       2      BOL    NaN    NaN
2    22.4283    1991       3      BOL    NaN    NaN
3    21.2055    1991       4      BOL    NaN    NaN
4    19.9238    1991       5      BOL    NaN    NaN
5    18.2097    1991       6      BOL    NaN    NaN
6    17.7880    1991       7      BOL    NaN    NaN
7    19.2964    1991       8      BOL    NaN    NaN
8    21.4351    1991       9      BOL    NaN    NaN
9    22.0184    1991      10      BOL    NaN    NaN
10   22.5688    1991      11      BOL    NaN    NaN
11   23.1559    1991      12      BOL    NaN    NaN
12   22.1763    1992       1      BOL    NaN    NaN
13   22.3409    1992       2      BOL    NaN    NaN
14   21.6967    1992       3      BOL    NaN    NaN
15   20.9250    1992       4      BOL    NaN    NaN
16   20.4805    1992       5      BOL    NaN    NaN
17   18.7640    1992       6      BOL    NaN    NaN
18   16.4989    1992       7      BOL    NaN    NaN
19   18.4649    1992       8      BOL    NaN    NaN
20   20.1317    1992       9      BOL    NaN    NaN
21   21.9969    1992      10      BOL    NaN    NaN
22   21.9721    1992      11      BOL    NaN    NaN
23   22.5965    1992      12      BOL    NaN    NaN
24   22.3915    1993       1      BOL    NaN    NaN
25   21.9723    1993       2      BOL    NaN    NaN
26   21.8815    1993       3      BOL    NaN    NaN
27   21.3656    1993       4      BOL    NaN    NaN
28   19.1477    1993       5      BOL    NaN    NaN
29   18.1951    1993       6      BOL    NaN    NaN
..       ...     ...     ...      ...    ...    ...
270  17.6383    2013       7      BOL    NaN    NaN
271  17.5042    2013       8      BOL    NaN    NaN
272  20.5285    2013       9      BOL    NaN    NaN
273  21.5480    2013      10      BOL    NaN    NaN
274  22.3415    2013      11      BOL    NaN    NaN
275  22.7411    2013      12      BOL    NaN    NaN
276  21.7372    2014       1      BOL    NaN    NaN
277  21.7151    2014       2      BOL    NaN    NaN
278  21.5648    2014       3      BOL    NaN    NaN
279  21.4202    2014       4      BOL    NaN    NaN
280  19.0185    2014       5      BOL    NaN    NaN
281  18.8967    2014       6      BOL    NaN    NaN
282  17.4313    2014       7      BOL    NaN    NaN
283  19.9879    2014       8      BOL    NaN    NaN
284  22.7344    2014       9      BOL    NaN    NaN
285  23.2739    2014      10      BOL    NaN    NaN
286  24.1528    2014      11      BOL    NaN    NaN
287  23.3578    2014      12      BOL    NaN    NaN
288  22.8332    2015       1      BOL    NaN    NaN
289  22.3247    2015       2      BOL    NaN    NaN
290  22.9973    2015       3      BOL    NaN    NaN
291  21.8676    2015       4      BOL    NaN    NaN
292  19.2114    2015       5      BOL    NaN    NaN
293  18.6443    2015       6      BOL    NaN    NaN
294  18.9004    2015       7      BOL    NaN    NaN
295  20.3627    2015       8      BOL    NaN    NaN
296  23.3172    2015       9      BOL    NaN    NaN
297  22.4625    2015      10      BOL    NaN    NaN
298  23.0985    2015      11      BOL    NaN    NaN
299  23.4787    2015      12      BOL    NaN    NaN

[300 rows x 6 columns]

'Temp_Colombia'