In [1]:
print('hello world')

hello world

### Datasets:

Here's one dataset for food prices https://www.kaggle.com/jboysen/global-food-prices

Here is the dataset for temperature and rainfalls http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical

### Hypothesis: 

Do changes in average temperature and average level of rainfall affect the change in the average price on X crop in X country in X-X years

### Questions to the Professor:

1. How can we all access and work simultaneously in the shared Github repo (with 1 master and 3 collaborators)?

In [4]:
import pandas as pd
maintempfile='https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Temp1991_2015.xls'
tempfile=pd.read_excel(maintempfile)

In [5]:
tempfile.shape

(300, 6)

In [6]:
tempfile.head()

       tas  \tYear   Month  Country   ISO3   ISO2
0  27.6919    1991       1      GHA    NaN    NaN
1  29.8617    1991       2      GHA    NaN    NaN
2  29.9223    1991       3      GHA    NaN    NaN
3  28.7257    1991       4      GHA    NaN    NaN
4  27.5884    1991       5      GHA    NaN    NaN