In [1]:
print('hello world')

hello world

### Datasets:

Here's one dataset for food prices https://www.kaggle.com/jboysen/global-food-prices

Here is the dataset for temperature and rainfalls http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical

### Hypothesis: 

Do changes in average temperature and average level of rainfall affect the change in the average price on X crop in X country in X-X years

### Questions to the Professor:

1. How can we all access and work simultaneously in the shared Github repo (with 1 master and 3 collaborators)?

In [4]:
import pandas as pd
maintempfile='https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Temp1991_2015.xls'
tempfile=pd.read_excel(maintempfile)

In [5]:
tempfile.shape

(300, 6)

In [23]:
tempfileclean=tempfile.drop(columns=[' Country', ' ISO3', ' ISO2'])

In [27]:
tempfileclean.columns

Index(['tas', '\tYear', ' Month'], dtype='object')

In [29]:
newnames=['temperature', 'year', ' month']
newtemp={old:new for old,new in zip(tempfileclean,newnames)}

In [32]:
tempfileclean.rename(columns=newtemp,inplace=True)

In [34]:
tempfileclean.tail(13)

     temperature  year   month
287      27.3278  2014      12
288      26.8803  2015       1
289      29.8498  2015       2
290      30.0503  2015       3
291      30.1383  2015       4
292      29.4413  2015       5
293      27.5071  2015       6
294      26.5556  2015       7
295      26.1566  2015       8
296      26.6866  2015       9
297      27.5798  2015      10
298      28.1031  2015      11
299      26.6480  2015      12

In [8]:
tempfile.dtypes

tas         float64
\tYear        int64
 Month        int64
 Country     object
 ISO3       float64
 ISO2       float64
dtype: object

In [38]:
temp2015=tempfileclean[tempfileclean.year==2015]

In [39]:
temp2015

     temperature  year   month
288      26.8803  2015       1
289      29.8498  2015       2
290      30.0503  2015       3
291      30.1383  2015       4
292      29.4413  2015       5
293      27.5071  2015       6
294      26.5556  2015       7
295      26.1566  2015       8
296      26.6866  2015       9
297      27.5798  2015      10
298      28.1031  2015      11
299      26.6480  2015      12