In [ ]:
print('hello world')

### Datasets:

Here's one dataset for food prices https://www.kaggle.com/jboysen/global-food-prices

Here is the dataset for temperature and rainfalls http://sdwebx.worldbank.org/climateportal/index.cfm?page=downscaled_data_download&menu=historical

### Hypothesis: 

Do changes in average temperature and average level of rainfall affect the change in the average price on X crop in X country in X-X years

### Questions to the Professor:

1. How can we all access and work simultaneously in the shared Github repo (with 1 master and 3 collaborators)?

In [40]:
import pandas as pd

pricesdata='https://raw.githubusercontent.com/vzakhozhyi/599-A-Final-Project/master/Data/wfp_market_food_prices.csv'
prices = pd.read_csv(pricesdata,header=0, encoding = 'ISO-8859-1')

#Bolivia
TBdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Temp_Bolivia.xls"
TB=pd.read_excel(TBdata)

RFBdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Rainfall_Bolivia.xls"
RFB=pd.read_excel(RFBdata)

#Peru
TPdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Temp_Peru.xls"
TP=pd.read_excel(TPdata)

RFPdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Rainfall_Peru.xls"
RFP=pd.read_excel(RFPdata)

#Colombia
TCdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Temp_Colombia.xls"
TC=pd.read_excel(TCdata)

RFCdata="https://github.com/vzakhozhyi/599-A-Final-Project/raw/master/Data/Rainfall_Colombia.xls"
RFC=pd.read_excel(RFCdata)

In [41]:
prices.shape

(743914, 18)

In [42]:
prices.head(10)
prices.tail(10)

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
743904,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,156,Sesame,83,SSP,15,Retail,47,3.5 KG,5,2016,115.0,WFP
743905,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,156,Sesame,83,SSP,15,Retail,47,3.5 KG,7,2016,100.0,WFP
743906,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,156,Sesame,83,SSP,15,Retail,47,3.5 KG,2,2017,425.0,WFP
743907,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,156,Sesame,83,SSP,15,Retail,47,3.5 KG,3,2017,443.0,WFP
743908,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,156,Sesame,83,SSP,15,Retail,47,3.5 KG,4,2017,425.0,WFP
743909,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,156,Sesame,83,SSP,15,Retail,47,3.5 KG,5,2017,400.0,WFP
743910,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,284,Fuel (diesel),83,SSP,15,Retail,15,L,2,2017,12.5,WFP
743911,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,284,Fuel (diesel),83,SSP,15,Retail,15,L,3,2017,95.0,WFP
743912,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,285,Fuel (petrol-gasoline),83,SSP,15,Retail,15,L,2,2017,95.0,WFP
743913,70001,South Sudan,2750,Eastern Equatoria,1786,Torit,285,Fuel (petrol-gasoline),83,SSP,15,Retail,15,L,3,2017,93.7,WFP

In [43]:
prices.dtypes

adm0_id                 int64
adm0_name              object
adm1_id                 int64
adm1_name              object
mkt_id                  int64
mkt_name               object
cm_id                   int64
cm_name                object
cur_id                  int64
cur_name               object
pt_id                   int64
pt_name                object
um_id                   int64
um_name                object
mp_month                int64
mp_year                 int64
mp_price              float64
mp_commoditysource     object
dtype: object

In [44]:
prices.adm0_name.unique()

array(['Afghanistan', 'Algeria', 'Armenia', 'Azerbaijan', 'Bangladesh',
       'Benin', 'Bhutan', 'Bolivia', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde', 'Central African Republic',
       'Chad', 'Colombia', 'Congo', 'Costa Rica', "Cote d'Ivoire",
       'Democratic Republic of the Congo', 'Djibouti', 'El Salvador',
       'Ethiopia', 'Gambia', 'Georgia', 'Ghana', 'Guatemala',
       'Guinea-Bissau', 'Guinea', 'Haiti', 'Honduras', 'India',
       'Indonesia', 'Iran  (Islamic Republic of)', 'Iraq', 'Jordan',
       'Kenya', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Lebanon', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mozambique', 'Myanmar', 'Nepal', 'Niger', 'Nigeria',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Rwanda', 'Senegal',
       'Somalia', 'Sri Lanka', 'Swaziland', 'Syrian Arab Republic',
       'Tajikistan', 'Timor-Leste', 'Turkey', 'Uganda', 'Ukraine',
       'United Republic of Tanzania', 'Yemen', 'Zambia', 'Zimbabwe',
       'State of Palestine', 'Sudan', 'Egypt', 'South Sudan'],
      dtype=object)

In [45]:
TargetCountry = ['Bolivia', "Peru", 'Colombia']
TargetCrop = ["Potatoes"]

In [46]:
prices[(prices.adm0_name=='Bolivia')].cm_name.unique()

array(['Eggs', 'Sugar', 'Meat (beef, chops with bones)',
       'Meat (chicken, whole)', 'Noodles (short)', 'Potatoes (Dutch)',
       'Potatoes (Irish, imilla)', 'Rice (estaquilla)',
       'Rice (long grain)', 'Bread (wheat)', 'Rice (good quality)',
       'Rice (white)', 'Rice (carolina 2da)', 'Rice (medium grain)',
       'Potatoes (black)'], dtype=object)

In [47]:
prices[(prices.adm0_name=='Peru')].cm_name.unique()

array(['Maize (local)', 'Rice (local)', 'Potatoes', 'Meat (chicken)',
       'Oil (vegetable)', 'Sugar', 'Wheat flour (locally processed)'],
      dtype=object)

In [48]:
prices[(prices.adm0_name=='Colombia')].cm_name.unique()

array(['Wheat flour', 'Maize (white)', 'Maize flour', 'Beans (red)',
       'Potatoes', 'Meat (chicken)', 'Oil (vegetable)', 'Sugar', 'Garlic',
       'Onions (red)', 'Onions (white)', 'Pasta', 'Tomatoes',
       'Rice (white)', 'Maize (yellow)', 'Meat (beef)', 'Plantains',
       'Cocoa', 'Coffee', 'Carrots', 'Fish (dry)', 'Cabbage', 'Salt',
       'Rice (paddy)', 'Chickpeas (imported)', 'Eggs (white, AA)',
       'Meat (beef, minced)', 'Peas (green, dry)', 'Potatoes (unica)',
       'Sugar (brown)', 'Sugar (brown, loaf)', 'Apples (red)',
       'Cauliflower', 'Cucumbers (greenhouse)', 'Oranges (big size)',
       'Bananas', 'Beans (red, fresh)', 'Fuel (diesel)',
       'Fuel (petrol-gasoline)', 'Cassava (dry)', 'Spinach',
       'Fish (tilapia)', 'Beans (string)', 'Guava', 'Papaya',
       'Blackberry', 'Broccoli', 'Mangoes', 'Pumpkin',
       'Tamarillos/tree tomatoes', 'Cheese', 'Lentils (imported)',
       'Milk (pasteurized)',
       'Wage (non-qualified labour, non-agricultural)', 'Meat (pork)',
       'Coffee (instant)', 'Oil (sunflower)'], dtype=object)

In [49]:
# This is what you want get rid of:
ColumnsToDrop = ['adm0_id', 'adm1_id','mkt_id','cm_id','cur_id','pt_id','um_id']#,'mp_commoditysource']

#this would change the original: GhanaYamPrice.drop(byeColumns,axis=1,inplace=False)
prices=prices.drop(ColumnsToDrop,axis=1, inplace=False).reset_index(drop=True)

In [50]:
prices

,adm0_name,adm1_name,mkt_name,cm_name,cur_name,pt_name,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,1,2014,50.00,WFP
1,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,2,2014,50.00,WFP
2,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,3,2014,50.00,WFP
3,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,4,2014,50.00,WFP
4,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,5,2014,50.00,WFP
5,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,6,2014,50.00,WFP
6,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,7,2014,50.00,WFP
7,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,8,2014,50.00,WFP
8,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,9,2014,50.00,WFP
9,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,10,2014,50.00,WFP
10,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,11,2014,50.00,WFP
11,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,12,2014,50.00,WFP
12,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,1,2015,50.00,WFP
13,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,2,2015,50.00,WFP
14,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,3,2015,50.00,WFP
15,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,6,2015,50.00,WFP
16,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,7,2015,50.00,WFP
17,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,8,2015,50.00,WFP
18,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,9,2015,50.00,WFP
19,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,10,2015,56.25,WFP
20,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,11,2015,65.25,WFP
21,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,12,2015,55.50,WFP
22,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,1,2016,55.50,WFP
23,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,2,2016,55.50,WFP
24,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,3,2016,55.50,WFP
25,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,4,2016,50.00,WFP
26,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,5,2016,50.00,WFP
27,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,6,2016,50.00,WFP
28,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,7,2016,50.00,WFP
29,Afghanistan,Badakhshan,Fayzabad,Bread,AFN,Retail,KG,8,2016,50.00,WFP
...,...,...,...,...,...,...,...,...,...,...,...
743884,South Sudan,Eastern Equatoria,Torit,Sorghum (white),SSP,Retail,3.5 KG,8,2016,10.00,WFP
743885,South Sudan,Eastern Equatoria,Torit,Sorghum (white),SSP,Retail,3.5 KG,4,2017,286.50,WFP
743886,South Sudan,Eastern Equatoria,Torit,Sorghum (white),SSP,Retail,3.5 KG,5,2017,360.00,WFP
743887,South Sudan,Eastern Equatoria,Torit,Millet (white),SSP,Retail,3.5 KG,8,2014,16.75,WFP
743888,South Sudan,Eastern Equatoria,Torit,Millet (white),SSP,Retail,3.5 KG,9,2014,16.00,WFP
743889,South Sudan,Eastern Equatoria,Torit,Millet (white),SSP,Retail,3.5 KG,10,2014,15.50,WFP
743890,South Sudan,Eastern Equatoria,Torit,Millet (white),SSP,Retail,3.5 KG,3,2016,57.50,WFP
743891,South Sudan,Eastern Equatoria,Torit,Millet (white),SSP,Retail,3.5 KG,7,2016,63.50,WFP
743892,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,8,2014,37.50,WFP
743893,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,9,2014,35.00,WFP
743894,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,10,2014,37.50,WFP
743895,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,11,2014,40.00,WFP
743896,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,12,2014,19.50,WFP
743897,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,1,2015,33.00,WFP
743898,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,2,2015,31.00,WFP
743899,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,3,2015,25.00,WFP
743900,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,4,2015,33.00,WFP
743901,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,1,2016,90.00,WFP
743902,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,3,2016,100.00,WFP
743903,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,4,2016,121.00,WFP
743904,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,5,2016,115.00,WFP
743905,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,7,2016,100.00,WFP
743906,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,2,2017,425.00,WFP
743907,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,3,2017,443.00,WFP
743908,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,4,2017,425.00,WFP
743909,South Sudan,Eastern Equatoria,Torit,Sesame,SSP,Retail,3.5 KG,5,2017,400.00,WFP
743910,South Sudan,Eastern Equatoria,Torit,Fuel (diesel),SSP,Retail,L,2,2017,12.50,WFP
743911,South Sudan,Eastern Equatoria,Torit,Fuel (diesel),SSP,Retail,L,3,2017,95.00,WFP
743912,South Sudan,Eastern Equatoria,Torit,Fuel (petrol-gasoline),SSP,Retail,L,2,2017,95.00,WFP
743913,South Sudan,Eastern Equatoria,Torit,Fuel (petrol-gasoline),SSP,Retail,L,3,2017,93.70,WFP

RF and Temp

In [83]:
RFdataframes = [RFB, RFC, RFP]

RF = pd.concat(RFdataframes)
RF

            pr  \tYear   Month  Country   ISO3   ISO2
0    209.90400    1991       1      BOL    NaN    NaN
1    165.21000    1991       2      BOL    NaN    NaN
2    166.84700    1991       3      BOL    NaN    NaN
3     85.99840    1991       4      BOL    NaN    NaN
4     49.60090    1991       5      BOL    NaN    NaN
5     47.32130    1991       6      BOL    NaN    NaN
6     19.88850    1991       7      BOL    NaN    NaN
7      8.16148    1991       8      BOL    NaN    NaN
8     47.95680    1991       9      BOL    NaN    NaN
9     79.60350    1991      10      BOL    NaN    NaN
10   114.01300    1991      11      BOL    NaN    NaN
11   111.58800    1991      12      BOL    NaN    NaN
12   186.88300    1992       1      BOL    NaN    NaN
13   131.20400    1992       2      BOL    NaN    NaN
14   155.87000    1992       3      BOL    NaN    NaN
15    88.35530    1992       4      BOL    NaN    NaN
16    58.82030    1992       5      BOL    NaN    NaN
17    46.41200    1992       6      BOL    NaN    NaN
18    27.76540    1992       7      BOL    NaN    NaN
19    61.41150    1992       8      BOL    NaN    NaN
20    60.20360    1992       9      BOL    NaN    NaN
21   109.50100    1992      10      BOL    NaN    NaN
22   129.31800    1992      11      BOL    NaN    NaN
23   123.69000    1992      12      BOL    NaN    NaN
24   243.79900    1993       1      BOL    NaN    NaN
25   111.17500    1993       2      BOL    NaN    NaN
26   147.96800    1993       3      BOL    NaN    NaN
27    64.30880    1993       4      BOL    NaN    NaN
28    28.93670    1993       5      BOL    NaN    NaN
29    14.50230    1993       6      BOL    NaN    NaN
..         ...     ...     ...      ...    ...    ...
270   75.58390    2013       7      PER    NaN    NaN
271   78.40170    2013       8      PER    NaN    NaN
272   74.53020    2013       9      PER    NaN    NaN
273  145.31600    2013      10      PER    NaN    NaN
274  143.21800    2013      11      PER    NaN    NaN
275  152.09000    2013      12      PER    NaN    NaN
276  159.06400    2014       1      PER    NaN    NaN
277  149.26000    2014       2      PER    NaN    NaN
278  193.84800    2014       3      PER    NaN    NaN
279  172.67200    2014       4      PER    NaN    NaN
280   91.75030    2014       5      PER    NaN    NaN
281   74.13970    2014       6      PER    NaN    NaN
282   71.67530    2014       7      PER    NaN    NaN
283   77.69130    2014       8      PER    NaN    NaN
284   83.26530    2014       9      PER    NaN    NaN
285  108.85300    2014      10      PER    NaN    NaN
286  127.26000    2014      11      PER    NaN    NaN
287  174.06900    2014      12      PER    NaN    NaN
288  154.38400    2015       1      PER    NaN    NaN
289  182.30600    2015       2      PER    NaN    NaN
290  187.53900    2015       3      PER    NaN    NaN
291  179.83700    2015       4      PER    NaN    NaN
292  109.17900    2015       5      PER    NaN    NaN
293   68.57070    2015       6      PER    NaN    NaN
294  102.38500    2015       7      PER    NaN    NaN
295   58.21700    2015       8      PER    NaN    NaN
296   57.64870    2015       9      PER    NaN    NaN
297   64.10290    2015      10      PER    NaN    NaN
298   99.11710    2015      11      PER    NaN    NaN
299  151.33600    2015      12      PER    NaN    NaN

[900 rows x 6 columns]

In [84]:
RFclean=RF.drop(columns=[' ISO3', ' ISO2'])

In [85]:
RFclean.columns

Index(['pr', '\tYear', ' Month', ' Country'], dtype='object')

In [92]:
newnames=['rainfall', 'year', ' month', 'country']
newRFnames={old:new for old,new in zip(RFclean,newnames)}
RFclean.rename(columns=newRFnames,inplace=True)
RFclean

      rainfall  year   month  country
204  263.36900  2008       1  Bolivia
205  172.84400  2008       2  Bolivia
206  149.58100  2008       3  Bolivia
207   76.82790  2008       4  Bolivia
208   30.45810  2008       5  Bolivia
209   13.34890  2008       6  Bolivia
210   14.34370  2008       7  Bolivia
211   24.58480  2008       8  Bolivia
212   29.27220  2008       9  Bolivia
213   87.85920  2008      10  Bolivia
214   98.86760  2008      11  Bolivia
215  145.82900  2008      12  Bolivia
216  141.14800  2009       1  Bolivia
217  206.48200  2009       2  Bolivia
218  209.90700  2009       3  Bolivia
219  118.54100  2009       4  Bolivia
220   39.35400  2009       5  Bolivia
221   24.84850  2009       6  Bolivia
222   51.58120  2009       7  Bolivia
223   26.70180  2009       8  Bolivia
224   39.98530  2009       9  Bolivia
225   64.76110  2009      10  Bolivia
226  102.22700  2009      11  Bolivia
227  173.78800  2009      12  Bolivia
228  208.90700  2010       1  Bolivia
229  183.61100  2010       2  Bolivia
230  145.20200  2010       3  Bolivia
231   37.84850  2010       4  Bolivia
232   58.89930  2010       5  Bolivia
233    7.69902  2010       6  Bolivia
..         ...   ...     ...      ...
270   75.58390  2013       7     Peru
271   78.40170  2013       8     Peru
272   74.53020  2013       9     Peru
273  145.31600  2013      10     Peru
274  143.21800  2013      11     Peru
275  152.09000  2013      12     Peru
276  159.06400  2014       1     Peru
277  149.26000  2014       2     Peru
278  193.84800  2014       3     Peru
279  172.67200  2014       4     Peru
280   91.75030  2014       5     Peru
281   74.13970  2014       6     Peru
282   71.67530  2014       7     Peru
283   77.69130  2014       8     Peru
284   83.26530  2014       9     Peru
285  108.85300  2014      10     Peru
286  127.26000  2014      11     Peru
287  174.06900  2014      12     Peru
288  154.38400  2015       1     Peru
289  182.30600  2015       2     Peru
290  187.53900  2015       3     Peru
291  179.83700  2015       4     Peru
292  109.17900  2015       5     Peru
293   68.57070  2015       6     Peru
294  102.38500  2015       7     Peru
295   58.21700  2015       8     Peru
296   57.64870  2015       9     Peru
297   64.10290  2015      10     Peru
298   99.11710  2015      11     Peru
299  151.33600  2015      12     Peru

[288 rows x 4 columns]

In [95]:
RFclean['country']=RFclean['country'].replace(['PER'], 'Peru')
RFclean['country']=RFclean['country'].replace(['COL'], 'Columbia')
RFclean['country']=RFclean['country'].replace(['BOL'], 'Bolivia')

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [96]:
Years = ['2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
RFclean = RFclean[RFclean.year.isin(Years)]
RFclean

      rainfall  year   month  country
204  263.36900  2008       1  Bolivia
205  172.84400  2008       2  Bolivia
206  149.58100  2008       3  Bolivia
207   76.82790  2008       4  Bolivia
208   30.45810  2008       5  Bolivia
209   13.34890  2008       6  Bolivia
210   14.34370  2008       7  Bolivia
211   24.58480  2008       8  Bolivia
212   29.27220  2008       9  Bolivia
213   87.85920  2008      10  Bolivia
214   98.86760  2008      11  Bolivia
215  145.82900  2008      12  Bolivia
216  141.14800  2009       1  Bolivia
217  206.48200  2009       2  Bolivia
218  209.90700  2009       3  Bolivia
219  118.54100  2009       4  Bolivia
220   39.35400  2009       5  Bolivia
221   24.84850  2009       6  Bolivia
222   51.58120  2009       7  Bolivia
223   26.70180  2009       8  Bolivia
224   39.98530  2009       9  Bolivia
225   64.76110  2009      10  Bolivia
226  102.22700  2009      11  Bolivia
227  173.78800  2009      12  Bolivia
228  208.90700  2010       1  Bolivia
229  183.61100  2010       2  Bolivia
230  145.20200  2010       3  Bolivia
231   37.84850  2010       4  Bolivia
232   58.89930  2010       5  Bolivia
233    7.69902  2010       6  Bolivia
..         ...   ...     ...      ...
270   75.58390  2013       7     Peru
271   78.40170  2013       8     Peru
272   74.53020  2013       9     Peru
273  145.31600  2013      10     Peru
274  143.21800  2013      11     Peru
275  152.09000  2013      12     Peru
276  159.06400  2014       1     Peru
277  149.26000  2014       2     Peru
278  193.84800  2014       3     Peru
279  172.67200  2014       4     Peru
280   91.75030  2014       5     Peru
281   74.13970  2014       6     Peru
282   71.67530  2014       7     Peru
283   77.69130  2014       8     Peru
284   83.26530  2014       9     Peru
285  108.85300  2014      10     Peru
286  127.26000  2014      11     Peru
287  174.06900  2014      12     Peru
288  154.38400  2015       1     Peru
289  182.30600  2015       2     Peru
290  187.53900  2015       3     Peru
291  179.83700  2015       4     Peru
292  109.17900  2015       5     Peru
293   68.57070  2015       6     Peru
294  102.38500  2015       7     Peru
295   58.21700  2015       8     Peru
296   57.64870  2015       9     Peru
297   64.10290  2015      10     Peru
298   99.11710  2015      11     Peru
299  151.33600  2015      12     Peru

[288 rows x 4 columns]